<section id="main-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-7 col-md-7 col-sm-12">
				<div class="titles">
					<h1 class="m-title">{{ 'main_title' | translate }}</h1>
					<p class="s-title">{{"main_sub_title" | translate}}</p>
				</div>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12 f-image">
				<div class="img-wrapper">
					<img src="../../assets/img/Stat.png" alt="">
				</div>
			</div>
		</div>
	
	</div>
</section>
<section class="intro-section">
	<div class="row">
		<div class="col-md-6">
			<div class="intro-image text-center">
				<img src="../../assets/img/statistics.svg" alt="">
			</div>
		</div>
		<div class="col-md-6">
			<h2>{{ 'WHO_WE_ARE' | translate }}</h2>
			<div class="introduction">
				<span>
					{{ 'STAT_INTRO' | translate }}
				</span>
			</div>
		</div>
	</div>
</section>
<hr>
<section class="feature_area container">
	<div class="container-fluid">
		<div style="padding:60px;">
			<h3 class="text-center" style="font-family: 'landing-font'">{{ 'what_make_us_unique' | translate }}!</h3>
		</div>
	</div>

	<div class="p_left_item_inner">
		<div class="p_item" *ngFor="let f of features">
			<div class="media">
				<div class="media-left">
					<img [src]="'../../assets/img/icon/' + f.icon" alt="">
				</div>
				<div class="media-body">
					<h4>{{ f.title | translate }}</h4>
					<p>{{ f.details | translate }}</p>
				</div>
			</div>
		</div>

	</div>

</section>
<hr>
<section id="dashboard-content">
	<div class="container-fluid text-center">

		<h3 class="ds-name">{{ 'DASHBOARDS' | translate }}</h3>

		<div class="owl-carousel owl-theme" *ngIf="showDashboards" dir="ltr">
			<div class="item" *ngFor="let d of dashboards">
				<div class="card" [ngStyle]="{ 'background-color': d.bgColor}">
					<div class="overlay">
						<div class="content">
							<h4 class="d-title">{{ d.name[lang] }}</h4>
							<div class="tags">
								<span *ngFor="let t of d.tags" class="badge">{{ t[lang] }}</span>
							</div>
							<button class="btn btn-sm btn-fill btn-danger view-d"
								(click)="gotoDashboard(d.slug)" [attr.data-title]="d.slug">{{ 'VIEW' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<section id="feature-section">
</section>
<!-- FOOTER -->
<footer class="footer">
	<div class="container text-center">
		<p class="copyright ">
			&copy; {{currentDate | date: 'yyyy'}} <a href="http://stat.gov.af">stat.gov.af, </a> made for data
			visualization
		</p>
	</div>
</footer>
<!-- End FOOTER -->
