@font-face {
  font-family: myfont;
  //src: url(fonts/Philosopher-Regular.ttf);
}

#main-top {
  background-image: url('../../assets/img/stat-bg.png');
  // background-color: #282560;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10%;
  height: 800px;
  color: #ffffff;
}

#main-top h1 {
  font-size: 4vw;
}

#main-content {
  padding-bottom: 20px;
}



// counter css code

#main-top .titles {
  width: fit-content;
  margin: 0 4rem;
  float: right;
}

#main-top .titles .m-title {
  font-weight: 600;
}

#main-top .f-image img {
  width: 100%;
  height: 550px;
}

#main-top .f-image .img-wrapper {
  margin-right: -20px;
}



// features css code

.our-feature-main {
  width: 100%;
  height: auto;
  border-bottom: 5px #1ab394 solid;
  background: #fff;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  margin-bottom: 28px;
}


.our-feature-main img {
  border-radius: 50%;
  margin-bottom: 20px;
  width: 90px;
}

.our-feature-main h3 {
  font-size: 20px;
  font-weight: 700;
}

.our-feature-main p {
  margin-bottom: 0;
}

.feature-back {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px 0 15px;
  text-align: left;
  background: #fff;

}

.feature-front {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 10;
  background: #fff;
  padding: 15px;
  bottom: 0px;
  transition: all 0.5s ease;
}

.our-feature-main:hover .feature-front {
  bottom: -200px;
  transition: all 0.5s ease;
}

.our-feature-main:hover {
  border-color: #777;
  transition: 0.5s;
}

#feature-section {
  background-color: #fff !important;
}

.feature-front i {
  font-size: 40px;
  color: #1ab394;
}

// .parallax {
//     /* The image used */
//     background-image: url('../../assets/img/stat01.svg');
//     /* Set a specific height */
//     height: 500px;

//     /* Create the parallax scrolling effect */
//     background-attachment: fixed;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
//   }
/*our-feature-main*/



// End of Dashboards Slider
.carousel-inner .active.left {
  left: -16.6%;
}

.carousel-inner .next {
  left: 16.6%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* End carousel */
// End of new slider


// Dashboards design css

.intro-section {
  padding: 3rem;
}

.intro-section .introduction span {
  font-size: 18px;
}

.intro-section .intro-image img {
  width: 70%;
}

#dashboard-content {
  padding-bottom: 4rem;
}

#dashboard-content .ds-name {
  padding-bottom: 2rem;
}

.item .card {
  min-height: 200px;
  text-align: center;
  font-size: 30px;
  vertical-align: middle !important;
}

.item .card a {
  padding-top: 30%;
}

.item .card div {
  font-size: 15px;
}

.p_feature_area {
  overflow: hidden;
  padding-top: 112px;
}

.p_feature_area .p_feature_left {
  width: calc(50% + 146px);
  float: left;
  overflow: hidden;
}

.p_feature_area .p_feature_right {
  width: calc(50% - 146px);
  float: left;
  overflow: hidden;
}

.p_left_item_inner {
  display: table;
}

.p_left_item_inner .p_item {
  width: calc(100%/2);
  float: left;
  overflow: hidden;
  padding-right: 50px;
  margin-bottom: 45px;
}

.media:first-child {
  margin-top: 0;
}

.p_left_item_inner .p_item .media .media-left {
  padding-right: 30px;
}

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}

.media-left img {
  width: 40px;
  ;
}

.p_left_item_inner .p_item .media .media-body h4 {
  font-size: 18px;
  font-family: heebo, sans-serif;
  font-weight: 500;
  color: #121921;
  letter-spacing: .72px;
  padding-bottom: 20px;
}

.p_left_item_inner .p_item .media .media-body p {
  font-size: 14px;
  color: #8e8e8e;
  font-family: heebo, sans-serif;
  font-weight: 400;
  letter-spacing: .56px;
  line-height: 24px;
}


.p_left_item_inner p,
.p_left_item_inner h1,
.p_left_item_inner h2,
.p_left_item_inner h3,
.p_left_item_inner h4,
.p_left_item_inner h5,
.p_left_item_inner h6 {
  margin: 0;
  padding: 0;
}

.indicator {
  position: absolute;
  height: 6px;
  z-index: 12;
  bottom: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 100%;
  background-color: #1ab394;
}

.owl-carousel .item {
  // width: 260px;
  height: 360px;
  border-radius: 4px;;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
}


.owl-carousel .item .card {
  // width: 260px;
  height: 360px;
  color: #ffffff;
}

.owl-carousel .item .d-title {
  font-weight: 700;
}

.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: block;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.212);
  transition: background .3s ease-in-out;
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  border-radius: 4px;
  /* Add a pointer on hover */
}

.owl-carousel .item:hover .overlay {
  background-color: rgba(0, 0, 0, 0.589) !important;
}

.owl-carousel .item:hover .view-d {
  visibility: visible;
  opacity: 1;
}

.owl-carousel .item .view-d {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  width: 80%;
  margin: auto;
}


.footer {
  background-color: #282560;
  color: #ffffff;;
}