.text-secondary {
    text-transform: none;
    color: #888888
}

.table-label {
    cursor: pointer;
    border-bottom: 2px solid #2196f3;
    font-size: 1.5rem;
    font-weight: 500;
}

.visualize {
    color: #16181a;
    font-size: 1.4rem;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

.visualize:hover {
    background-color: #e2e6ea;
    border-color: #dae0e5;
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

.dropdown-menu {
    cursor: pointer;
}

.single-select2 {
    width: 100%;
}

#single-select2 {
    width: 100%;
}

.column-list {
    padding: 6px;
    list-style: none;
}

.scroll {
    background-color: whitesmoke;
    height: 100vh;
    overflow-y: scroll;
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Firefox */
    white-space: -pre-wrap;
    /* Opera <7 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* IE */
}

.column-name:hover {
    background-color: #eceff1;
}

.plus-icon {
    float: left;
    margin-right: 3%;
    // visibility: hidden;
    width: 0px;
    background-color: #282560;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: width .2s ease-out;

}

.plus-icon i {
    color: #fff;
}


.column-name:hover .plus-icon {
    // visibility: visible;
    transition: width .4s ease-out;
    width: 40px;
}

#close {
    float: right;
    display: inline-block;
    padding: 0px 5px;
}

.fa {
    font-size: 18px;
}

.column-card {
    margin-bottom: 6px !important;
}

.column-card .content {
    padding: 0px !important;
}

.column-card .ipc {
    padding: 15px 0px;
}

.active-column {
    border: .5px solid #01a79b;
    box-shadow: 0 1px 20px #01a79c62, 0 0 0 1px #01a79c79;
}